@model Presentation.Models.Curr
@inject Presentation.Interfaces.IAPIDataAccess symbols
@{
    ViewData["Title"] = "Calc";
}

<h1>Calculate</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Calc">
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <div>
                    @{
                        var symbilz = symbols.getSymbols().Result;
                    }
                    <select asp-for="Currency" name="to">
                        @for (int i = 0; i < symbilz.Count; i++)
                        {
                            <option value="@symbilz[i].symbol">@symbilz[i].symbol</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <div>
                    <select asp-for="Currency" name="from">
                        @for (int i = 0; i < symbilz.Count; i++)
                        {
                            <option value="@symbilz[i].symbol">@symbilz[i].symbol</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Amount</label>
                <input name="amount" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-primary" />
            </div>
            <label>Converted Price:</label> @ViewBag.newCurr
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
